/* `HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	font-size: 100%;
}

html,
body {
	height: 100%;
}

b,
strong {
/*
	Makes browsers agree.
	IE + Opera = font-weight: bold.
	Gecko + WebKit = font-weight: bolder.
*/
	font-weight: bold;
}

img {
	font-size: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td,
caption {
	font-weight: normal;
	vertical-align: top;
	text-align: left;
}





/*
	960 Grid System ~ Text CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
	font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
	font-size: 25px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 20px;
}


/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    overflow: hidden;

}

body {
    /*
        Pre-load #nav_arrow image.
    */
    color: #000;
    cursor: default;
}

a {
    color: #06c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

/* `Misc
----------------------------------------------------------------------------------------------------*/

.abs {
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

.cancel {
    color: #c00;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}


/*
    Added via JS to <textarea> and class="input_full"
*/
.input_full_wrap {
    display: block;
    padding-right: 8px;
}

.gutter_left {
    padding-left: 20px;
}

.gutter_right {
    padding-right: 20px;
}


/* `Buttons
----------------------------------------------------------------------------------------------------*/


    .radio1, .radio2 { display: none; }

    .cb-enable, .cb-disable {
        float: left;
        border: 1px solid;
        border-color: #666 #999 #fff;
        display: inline-block;
        color: #515559;
        font-size: 12px;
        font-family: Helvetica;
        font-weight: bold;
        text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
        text-decoration: none;
        line-height: 27px;
        margin: 8px 0 0;
        padding: 0 10px;
        overflow: hidden;
        height: 28px;
    }
    .cb-enable {border-right: 0px; padding: 0 30px;}

    .cb-disable.selected {
        background: #666 url(../images/ui/button_light.png) repeat-x;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #666));
        background: -moz-linear-gradient(top center, #ccc 0%, #666 100%);
        color: #fff;
        font-family: Helvetica;
        font-weight: bold;
        text-shadow: none;
    }

    .cb-enable.selected {
        background: #666 url(../images/ui/button_light.png) repeat-x;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #666));
        background: -moz-linear-gradient(top center, #ccc 0%, #666 100%);
        color: #fff;
        font-family: Helvetica;
        font-weight: bold;
        text-shadow: none;
    }
    .switch label { cursor: pointer; }

.right {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.left {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#title {
    position: relative;
    left: -80px;
}

.button:active,
.button_active {
    background: #333 url(../images/ui/button_light_active.png) repeat-x;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999), color-stop(1, #333));
    background: -moz-linear-gradient(top center, #999 0%, #333 100%);
}

.button.float_right {
    margin-right: -20px;
    margin-top: 10px;
}

.button.float_left {
    margin-left: 7px;
}

/* `Chrome
----------------------------------------------------------------------------------------------------*/

.chrome_light {
    background: #bbb url(../images/ui/chrome_light.png) repeat-x;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #bbb));
    background: -moz-linear-gradient(top center, #fff 0%, #bbb 100%);
    color: #777;
    text-shadow: #fff 0 1px 0;
}


/* `Search
----------------------------------------------------------------------------------------------------*/

#q {
    vertical-align: baseline;
    width: 220px;
    margin-right: 10px;
    outline: 0;
}

/* `Headers + Footers
----------------------------------------------------------------------------------------------------*/

.header_upper,
.header_lower,
.footer_upper,
.footer_lower {
    line-height: 45px;
    overflow: hidden;
    text-align: center;
    left: 0;
    right: 0;
    height: 45px;
    z-index: 50;
}

.header_upper,
.header_lower {
    border-bottom: 1px solid #000;
}

.footer_upper,
.footer_lower {
    border-top: 1px solid #000;
}

.header_upper {
    font-size: 20px;
    top: 0;
    padding: 0 5px;
}

.header_lower {
    top: 46px;
}

.footer_upper {
    bottom: 46px;
}

.footer_lower {
    bottom: 0;
}

/* `Main Content
----------------------------------------------------------------------------------------------------*/

#main {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 765px;
    z-index: 0;
    width: 100%;
    height: 100%;

}

#map-canvas {
    z-index: -50;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

#main_content {
    background: #fff;
    left: 0;
    right: 0;
}

#main_content_inner {
    /*
        1px bottom padding = fixes Opera bug.
    */
    padding: 20px 20px 1px;
}

.content {
    margin-top: 45px;
}

#overlay {
    position: absolute;
    padding: 40px 0;
    width: 581px;
    height: 540px;
    background: transparent url(../images/ui/overlay.png) no-repeat;
    color: #fff;
    display: none;
}

#overlay table {
    width: 530px;
}

.column1 {
    text-transform: uppercase;
    font-family: 'Helvetica';
    font-size: 18px;
    padding: 14px 0 0 70px;
    width: 165px;
}

.column2 {
    text-transform: uppercase;
    font-family: 'Helvetica';
    font-size: 48px;
    line-height: 52px;
}
.small1 {padding-top:9px;}
.small2 {
    font-size: 30px;
    line-height: 30px;
}
.small3 {
    font-size: 24px;
    line-height: 28px;
    padding-top: 4px;
}

.date {
    height: 109px;
}
.block {
    height: 65px;
    line-height: 5px;
}


/* `Icons
----------------------------------------------------------------------------------------------------*/

.icon {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    text-indent: -99999px;
    width: 45px;
    height: 45px;
    position: relative;
    right: 260px;
}

.chrome_light .icon_gps {
    background-image: url(../images/icons_light/gps.png);
}


/*
    Form Elements
    -- Styled to look like native Safari on OS X.
*/

/* `UI Consistency
----------------------------------------------------------------------------------------------------*/

::-webkit-input-placeholder {
    color: #ccc;
}

/*
    Separate rule for Firefox.
    Cannot stack with WebKit's.
*/
.placeholder_text {
    color: #ccc !important;
}

input[type=search] {
    /*-webkit-appearance: none; */
    -webkit-box-sizing: content-box;
    text-shadow: none;
    border-radius: 10px;
    background: #fff;
    color: #CCC;
    height: 24px;
    width: 200px;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: #000;
    margin: 0;
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
    font: 16px Helvetica, sans-serif;
    vertical-align: top;
    outline: 0;
}

input[type=search]::-webkit-search-decoration {
    /* display: none; */
}


.about {
    z-index: 1000;
    position: relative;
    left: 20px;
    bottom: 0px;
    color: #eee;

}



